<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="top.fbdcv.service.UserServiceImpl"/>
    <bean id="log" class="top.fbdcv.log.Log"/>

    <aop:config>
        <!--新增切入点-->
        <aop:pointcut id="pointcut" expression="execution(* top.fbdcv.service.UserServiceImpl.*(..))"/>
        <!--新增通知-->
        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>
    </aop:config>

</beans>
